@page
@{
  ViewData["Title"] = "Text Box";
}

<p>
  <input type="text" aria-label="Aria-Labelled" />
</p>

<p>
  <label id="aria-label">Label Aria</label>
  <input type="text" aria-labelledby="aria-label" />
</p>

<p>
  <label for="for-text">Label For</label>
  <input type="text" id="for-text" />
</p>
